/** webfonts **/
@import url(href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");
/* basic reset */
body, h1, h2, ul, ol {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans Condensed', Arial, sans-serif;
  font-size: 1em;
  margin: 20px auto 0;
  width: 80%;
}

header h1 {
  font-family: font-size: 2em;
}

header {
  display: flex;
  justify-content: space-between;
}

nav {
  margin-top: .7em;
}

nav ul {
  display: flex;
  justify-content: space-between;
  width: 20em;
}
li {
  list-style-type: none;
}
nav a {text-decoration: none;
  background: #939dad;
  border-radius: 4px;
  padding: 10px;
  color: white;
}

section p {
  margin: 0 auto;
}

/* -- layout: section hero -- */

section#hero{
  border-radius: 4px;
  display: flex;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  width: 100%;
}

/*  =========== CSS pattern from http://lea.verou.me/css3patterns/ =========== */

.weave{
  background:
  linear-gradient(135deg, #708090 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
  linear-gradient(225deg, #708090 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
  background-color:#708090;
  background-size: 64px 128px
}
